.header {
  background-color: #fff;
  background-image: url("../images/background_header.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;

  display: flex;
  flex-direction: column;
  height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  z-index: 1;
  box-sizing: border-box;
}
.header__title {
  max-width: 729px;
  margin-top: 128px;
  font-size: 60px;
  line-height: 72px;
  color: #000;
  margin-bottom: 28px;
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__description {
  max-width: 683px;
  color: #000;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  z-index: -1;
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header__footer {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  color: #6f6f6f;
}

.header__link {
  text-decoration: none;
  color: #e96e3a;
}
.header__link:hover {
  color: #d35722;
}
.header__span-accent {
  color: #3f96f3;
  display: block;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
}

.header__paragraph {
  color: #838383;
}
