.header {
  display: flex;
  flex-direction: column;
  height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
}
.header__title {
  max-width: 729px;
  margin-top: 128px;
  font-size: 60px;
  line-height: 72px;
  color: #000;
  margin-bottom: 28px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__description {
  max-width: 683px;
  color: #000;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  z-index: 1;
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header__footer {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 100px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  color: #6f6f6f;
}

.header__link {
  text-decoration: none;
  color: #e96e3a;
}
.header__link:hover {
  color: #d35722;
}
.span {
  color: #3f96f3;
  display: block;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
}

.header__address {
  /* issue fixed */
  margin: 8px 0 0;
  color: #838383;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav__logo {
  height: 39px;
  width: 105px;
  margin-top: 30px;
  margin-left: 30px;
}
.nav__links {
  list-style-type: none;
  margin-top: 30px;
  display: flex;
  padding: 0;
  gap: 20px;
  padding: 0;
  margin-right: 80px;
}

.nav__link {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  transition: opacity 0.3s ease;
}
.nav__link:hover {
  color: #d35722;
  opacity: 0.5;
}
