.menu {
  padding: 100px 0;
  background-color: #fff;
  background-image: url("../images/background_menu.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}
.menu__title {
  margin: 0 auto;
  margin-bottom: 24px;
  max-width: 780px;
  text-align: center;
  box-sizing: border-box;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.menu__subtitle {
  max-width: 780px;
  margin: 0 auto 100px;
  text-align: center;
  box-sizing: border-box;

  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
