body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page {
  /* issue fixed */
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  color: #000;
  background-color: #fff;
}

.header {
  display: flex;
  flex-direction: column;
  height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
}
.header__title {
  max-width: 729px;
  margin-top: 128px;
  font-size: 60px;
  line-height: 72px;
  color: #000;
  margin-bottom: 28px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__description {
  max-width: 683px;
  color: #000;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  z-index: 1;
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header__footer {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 100px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  color: #6f6f6f;
}

.header__link {
  text-decoration: none;
  color: #e96e3a;
}
.header__link:hover {
  color: #d35722;
}
.span {
  color: #3f96f3;
  display: block;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
}

.header__address {
  /* issue fixed */
  margin: 8px 0 0;
  color: #838383;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav__logo {
  height: 39px;
  width: 105px;
  margin-top: 30px;
  margin-left: 30px;
}
.nav__links {
  list-style-type: none;
  margin-top: 30px;
  display: flex;
  padding: 0;
  gap: 20px;
  padding: 0;
  margin-right: 80px;
}

.nav__link {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.nav__link:hover {
  color: #d35722;
}
.recipes {
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  padding: 2px 0;
  color: #fff;
}
.recipes__title {
  margin-left: 80px;
  margin-bottom: 24px;
  margin-top: 100px;
  max-width: 580px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.recipes__subtitle {
  margin-bottom: 80px;
  margin-left: 80px;
  max-width: 438px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  margin-bottom: 216px;
}
.video {
  width: 480px;
  height: 273px;
}
.recipes__iframe {
  height: 100%;
  width: 100%;
  margin-bottom: 24px;
}
.recipes__video_caption {
  display: flex;
  justify-content: space-between;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  padding: 2px 0;
}

.reservation__title {
  text-align: center;
  margin: 100px 0 80px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin: 0;
  padding: 0;
}
.form {
  max-width: 385px;
  margin: 0 auto 120px;
}
.form__fieldset {
  border: none;
}
.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.form__input,
.form__button {
  display: block;
  width: 100%;
  margin-bottom: 32px;
  margin-top: 8px;
  border-radius: 4px;
}
.form__input {
  padding: 15px 20px;
  border: 1px solid #838383;
}
.form__input::placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.form__button {
  background-color: #1878dc;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  border: none;
  transition: background-color 0.3s ease;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button:hover {
  background-color: #3f96f3;
  cursor: pointer;
}
.user-terms-wrapper {
  display: flex;
  gap: 12px;
  justify-content: center;
}
.user-terms-wrapper__input {
  height: 20px;
  width: 20px;
  border-radius: 2px;
  margin: 0;
  padding: 0;
}
